p{
   background: rgb(65, 255, 144);
   height: 80px;
   font-size: 50px;
   font-weight: 900;
   border-radius: 20px;
}
#cardPoke{
    box-shadow: 2px 4px 8px 4px rgb(163, 163, 163);
    background: #ffffffea;
   }
img{
       box-shadow: inset 2px 2px 8px 2px rgb(116, 179, 165);
       margin: 15px 0;
       background: rgb(222, 255, 238);
       width: 500px;
       height: 400px;
   }
button{
    width: 70%;
    font-weight: 900;
    font-size: 25px;
    box-shadow:  2px 2px 8px 2px rgb(255, 244, 183);
}